/* ================================= 
  Base Styles
==================================== */
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 180px;
  justify-content: center;
}

.item {
 align-self: center;
}