/* ----- Base Styles ----- */

*, *:before, *:after {
    box-sizing: inherit;
}

body {
	font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
    background-color: #599a68;
}

.wrapper {
    width: 50%;
    margin: 0 auto;
}

.main-header,
.img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin-top: 20px solid #599a68;
    margin-bottom: 20px solid #599a68;
}

.footer-container,
.main-header {
    display: flex;
    flex-direction: row;
    margin-top: 20px solid #599a68;
    border-top: 10px solid seagreen;
    border-bottom: 10px solid seagreen;
    margin-bottom: 20px solid #599a68;
    text-align: center;
}

.footer-container,
.main-header {
    background: #6ab47b;
}

.title {
    color: black;
    text-align: center;
    font-size: x-large;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin: 16px;
    border-style: double;
    padding: 16px;
    list-style-type: none;
}

li a {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px 10px;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    background: #599a68;
    color: rgb(131, 32, 32);
 }
  
  nav a:hover,
  nav a:visited {
    color: rgb(131, 32, 32);
    text-decoration: underline;
  }
 
  .footer-container footer {
    display: inline-flex;
    color: white;
    padding: 20px 0;
}

.main-container {
    font-size: .95em;
    text-align: center;
    margin-bottom: 1.5em;
}


/* ====================================
    Media Queries
===================================== */
/* ---Media Queries April tried-----------------------------
@media all and (min-width: 640px) {  
    }

@media all and (min-width: 1030px) {
    .nav {
        flex: none;
    }
}
*/

/* ---------Treehouse Media Queries ---------------------- 
@media only screen and (min-width: 480px) {

    nav a {
      float: left;
      width: 30%;
      margin: 0 0 0 5%;
      padding: 25px 1%;
      margin-bottom: 0;
    }
  
    nav li:first-child a {
      margin-left: 0;
    }
  
    nav li:last-child a {
      margin-right: 0;
    }
  
  }
  
  @media only screen and (min-width: 768px),
         only screen and (min-width: 700px) and (orientation: landscape) {
  
    .title {
      float: center;
      font-size: 1.4em;
    }

    img {
        float: center;
    }
  
    nav {
      float: center;
      width: 60%;
    }
  
    nav a {
      padding: 15px 1%;
    }
  
    .main article {
      float: left;
      width: 57%;
    }
}
  
  @media only screen and (min-width: 1140px) {
  
    .wrapper {
      width: 1026px;
      margin: 0 auto;
    }
  
    .title {
      font-size: 2em;
    }
  
    nav a {
      padding: 25px 1%;
    }
    
  }
 */
  
  /*************************
  Clearfix
  *************************/
/*
---------------------------------------------------------------------------------------
  Code below taken from video or example I've read but this doesn't seem like it would work due to HTML 
 ---------------------------------------------------------------------------------------------
  .clearfix:before, 
  .clearfix:after {
    content: " ";
    display: table;
  }
  
  .clearfix:after {
    clear: both;
  }
  
  .clearfix {
    *zoom: 1;
  }
  */