/* ----- Base Styles ----- */

* {
    box-sizing: border-box;
}
body {
	font-size: 1.35em;
	font-family: 'Varela Round', sans-serif;
	color: rgb(94, 54, 9);
	background: #1a7e1f;
	padding-left: 5%;
	padding-right: 5%;
}

p {
    font-size: .95em;
    margin-bottom: 1.5em;
}

html {
    color: rgba(12, 12, 12, 0.938);
    font-size: 1em;
    line-height: 1.4;
    box-sizing: border-box;
}

h1 {
    color: rgb(22, 23, 24);
  }
/* ----- Layout Containers ----- */
  .container {
    padding: 2px;
    background: coral;
    border-radius: 2px;
    margin: 25px auto;
    box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
    }

    .item {
        color: rgb(149, 9, 184);
        padding: 15px;
        margin: 5px;
        background: rgba(12, 12, 12, 0.938);
        border-radius: 3px;
    }

    ul {
        list-style-type: none;
        padding: 0;
        border: 2px solid #08a9d1;
    }

/* ====================================
    Media Queries
===================================== */

@media (min-width: 769px) {

    
    }
@media (min-width: 1025px) {

}